.saved {
    &__images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin: 5rem auto;
    }
    &__image {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 25rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            width: 100%;

            transition: all 0.5s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
        button {
            width: 10rem;
            height: 5rem;
        }
    }
}
@media (max-width: 768px) {
    .saved {
        &__images {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width: 460px) {
    .saved {
        &__images {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
