$btn-color: rgb(13, 45, 67);
$font-color: white;
$input-color: rgb(221, 223, 238);
.signup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: black;
    &__input {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        gap: 0.5rem;
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;
        button {
            margin: 0 auto;
            width: 100%;
            height: 2.5rem;
            background-color: $btn-color;
            color: white;
            font-size: 1rem;
        }
        input {
            width: 100%;
            height: 2.5rem;
            background-color: $input-color;
        }
    }
}
